{% extends 'templates/app.twig' %}

{% block content %}
    <section class="pageheader">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h4>{{ image.image_title }}</h4>
                </div>
            </div>
        </div>
    </section>

    <section class="section white">
        <div class="container">

            <div class="row">
                <div class="col-md-8 image-hover">
                    <div class="owl-single-portfolio-item">

                        <a class="image-popup-no-margins" href="{{ base_url() }}/upload_image/{{ image.image_link }}">
                            <img src="{{ base_url() }}/upload_image/{{ image.image_link }}" alt=""
                                 class="img-responsive">
                        </a>

                        <button type="button" class="btn btn-primary btn-normal btn-lg no-padding alignleft">
                            Like - {{ image.rating_counter }}
                        </button>

                        {% if auth.check %}
                            {% include 'templates/partials/favorite.twig' %}
                        {% else %}
                            <a href="{{ path_for('auth.signin') }}">
                                <button type="button" class="btn btn-primary btn-normal btn-lg no-padding alignright">
                                    To Love <i class="fa fa-heart" aria-hidden="true"></i> this image, Please Login
                                </button>
                            </a>
                        {% endif %}
                    </div>
                </div><!-- end col -->

                <div class="col-md-4 single-portfolio-sidebar">

                    <h3>{{ image.image_title}}</h3>

                    <p>
                        {{ image.image_description}}
                    </p>

                    <div class="contact-details portfolio-details">
                        <div class="why-us-right text-left wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.9s">
                            <a href="{{ path_for('user.profile',{'id': user.id }) }}"><h4>{{ user.name }}</h4></a>

                            {% if auth.user %}
                                {% if auth.user.id==user.id %}

                                {% else %}
                                    {% include 'templates/partials/follow_form.twig' %}
                                {% endif %}
                            {% else %}
                                <a href="{{ path_for('auth.signin') }}">
                                    <button type="submit" class="btn btn-default btn-sm btn-normal">Please login to Follow</button>
                                </a>
                            {% endif %}
                            <br><br>
                        </div>
                    </div>

                    <div class="contact-details portfolio-details">
                        <div class="why-us-right text-left wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.9s">
                            <i class="fa fa-magic alignleft"></i>
                            <h4>Category</h4>
                            <p>
                                <a href="{{ path_for('category', {'id': category.id}) }}">
                                    {{ category.category_name}}
                                </a>
                            </p>
                        </div>
                    </div>
                    
                    {% if image_link_exif.Model  %}
                        <div class="contact-details portfolio-details">
                            <div class="why-us-right text-left wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.9s">
                                <h4>Info</h4>
                                <h5>Camera Model - {{ image_link_exif.Model }}</h5>
                                <p>
                                    ISO - {{ image_link_exif.ISOSpeedRatings }}<br>
                                    Aperture - {{ image_link_exif.COMPUTED.ApertureFNumber }}<br>
                                    Shatter Speed - {{ image_link_exif.ExposureTime }}
                                </p>
                            </div>
                        </div>
                    {% endif %}

                    <div class="contact-details portfolio-details">
                        <div class="why-us-right text-left wow fadeInRight" data-wow-duration="1s" data-wow-delay="1.3s">
                            <h4 class="text-center"></h4>
                            <div class="col-md-4">
                                <h3 class="text-center less-bottom">Pulse</h3>
                                <p class="text-center less-top">{{ pulse_counter }}</p>
                            </div>

                            <div class="col-md-4">
                                <h3 class="text-center less-bottom">Views</h3>
                                <p class="text-center">{{ image.view_counter }}</p>
                            </div>

                            <div class="col-md-4">
                                <h3 class="text-center less-bottom">{{ popularity_counter }}</h3>
                            </div>
                            <p class="text-center">{{ image.updated_at }}</p>

                        </div>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->

            <div class="line"></div>
            <br><br>

            <div class="row">
                <div class="col-md-12">
                    <h3>Related Images</h3>
                </div>
            </div><!-- end row -->

            <div class="row">
                <div class="col-md-12">
                    <div id="owl-portfolio-related" class="owl-custom">

                        {% for image_all_in_a_cateogry in images_all_in_a_cateogry %}
                            <div class="owl-single-portfolio-item">
                                <div class="box entry">
                                    <img src="{{ base_url() }}/upload_image/{{ image_all_in_a_cateogry.image_link }}"
                                         alt="" class="img-responsive" height="208px">
                                    <div class="magnifier">
                                        <div class="visible-buttons">
                                            <h4>
                                                <a href="{{ path_for('singleimage', {'id': image_all_in_a_cateogry.id}) }}">
                                                    {{ image_all_in_a_cateogry.image_title }}
                                                </a>
                                            </h4>
                                        </div>
                                    </div>
                                </div><!-- end box -->
                            </div>
                        {% endfor %}

                    </div><!-- end owl -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section>
{% endblock %}