{% extends 'templates/app.twig' %}

{% block content %}
    <div id="preloader">
        <div id="spinner"></div>
        <img class="preloader" src="{{ base_url() }}/images/loader.gif" alt="">
    </div><!-- end loader -->

    <section id="home" class="slider-section slidesround">
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                  {% for image in images |slice(0, 4) %}
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="500"
                        data-thumb="upload/slider_19.jpg" data-saveperformance="off" data-title="Slide">
                        <img src="upload_image/{{ image.image_link }}" alt="fullslide1" data-bgposition="center top" data-bgfit="cover"
                             data-bgrepeat="no-repeat">
                        <div class="tp-caption slider_layer_03 lft tp-resizeme rs-parallaxlevel-9"
                             data-x="left"
                             data-y="450"
                             data-speed="1000"
                             data-start="1200"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">{{ image.image_title }}
                            <hr>
                        </div>
                        <div class="tp-caption slider_layer_04 lfb rs-parallaxlevel-10"
                             data-x="left"
                             data-y="520"
                             data-speed="1000"
                             data-start="1500"
                             data-easing="Power3.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">{{ image.category_name }}
                        </div>
                    </li>
                  {% endfor %}
                </ul>
            </div>
        </div>
    </section>

    <section class="section white border-top nopaddingbottom2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="custom-title text-center wow fadeIn">
                        <h2>Our
                            <mark>Portfolio</mark>
                        </h2>
                    </div><!-- end custom-title -->
                </div><!-- end col -->
            </div><!-- end row -->

            <div class="text-center clearfix">
                <nav class="portfolio-filter">
                    <ul class="list-inline">
                        <li><a href="#" data-filter="*" class="active">All Works</a></li>
                        <li><a href="#" data-filter=".cat1">BRANDING</a></li>
                        <li><a href="#" data-filter=".cat2">GRAPHIC</a></li>
                        <li><a href="#" data-filter=".cat3">WEB DESIGN</a></li>
                        <li><a href="#" data-filter=".cat4">PHOTOGRAPHY</a></li>
                    </ul>
                </nav>
            </div><!-- end text-center -->
        </div><!-- end container -->

        <div class="container-full">
            <div id="gallery" class="row">
                <div id="fourcol" class="portfolio">
                    {% for image in images %}
                        <div class="box entry item-w1 item-h1 cat1">
                            <img src="upload_image/{{ image.image_link }}" alt="" class="img-responsive">
                            <div class="magnifier">
                                <div class="visible-buttons">
                                    <h4><a href="{{ path_for('singleimage', {'id': image.id}) }}">{{ image.image_title }}</a></h4>
                                    <p>{{ image.image_description }}</p>
                                </div>
                            </div>
                        </div><!-- end box -->
                    {% endfor %}

                </div><!-- end portfolio -->
            </div><!-- end gallery -->
        </div><!-- end container-fluid -->
    </section><!-- end section -->

    <section class="tagline dark light-color">
        <div class="container">
            <div class="btn-wrapper text-center">
                <a href="#" class="btn btn-normal">View More Works</a>
            </div>
        </div><!-- end container -->
    </section><!-- end section -->

    <div id="map" class="wow slideInUp nopadding"></div>

    <div id="backto">
        <div class="backtotop"><i class="fa fa-angle-double-up"></i></div>
    </div>
{% endblock %}