{% if followOrNot %}
    <form action="{{ path_for('follow.unFollowUser') }}" method="post">
        <input type="hidden" name="image_id" value="{{ image.id }}">
        <input type="hidden" name="follower_id" value="{{ auth.user.id }}">
        <input type="hidden" name="followed_id" value="{{ user.id }}">
        <button type="submit" class="btn btn-default btn-sm btn-normal unfollow"></button>
        {{ csrf.field | raw }}
    </form>
{% else %}
    <form action="{{ path_for('follow.store') }}" method="post">
        <input type="hidden" name="image_id" value="{{ image.id }}">
        <input type="hidden" name="follower_id" value="{{ auth.user.id }}">
        <input type="hidden" name="followed_id" value="{{ user.id }}">
        <button type="submit" class="btn btn-default btn-sm btn-normal">Follow</button>
        {{ csrf.field | raw }}
    </form>
{% endif %}