{#<nav class="navbar navbar-default">#}
    {#<div class="container-fluid">#}
        {#<!-- Brand and toggle get grouped for better mobile display -->#}
        {#<div class="navbar-header">#}
            {#<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"#}
                    {#data-target="#bs-example-navbar-collapse-1" aria-expanded="false">#}
                {#<span class="sr-only">Toggle navigation</span>#}
                {#<span class="icon-bar"></span>#}
                {#<span class="icon-bar"></span>#}
                {#<span class="icon-bar"></span>#}
            {#</button>#}
            {#<a class="navbar-brand" href="{{ path_for('home') }}">Photographer</a>#}
        {#</div>#}

        {#<!-- Collect the nav links, forms, and other content for toggling -->#}
        {#<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
            {#<ul class="nav navbar-nav">#}
                {#<li class="active"><a href="{{ path_for('home') }}">Home <span class="sr-only">(current)</span></a></li>#}
            {#</ul>#}

            {#<ul class="nav navbar-nav navbar-right">#}
                {#{% if auth.check %}#}
                    {#<li class="dropdown">#}
                        {#<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"#}
                           {#aria-expanded="false">{{ auth.user.name }} <span class="caret"></span></a>#}
                        {#<ul class="dropdown-menu">#}
                            {#<li><a href="{{ path_for('auth.password.change') }}">Change Password</a></li>#}
                            {#<li role="separator" class="divider"></li>#}
                            {#<li><a href="{{ path_for('auth.signout') }}">Log Out</a></li>#}
                        {#</ul>#}
                    {#</li>#}
                {#{% else %}#}
                    {#<li><a href="{{ path_for('auth.signup') }}">Sign Up</a></li>#}
                    {#<li><a href="{{ path_for('auth.signin') }}">Sign in</a></li>#}
                {#{% endif %}#}
            {#</ul>#}
        {#</div><!-- /.navbar-collapse -->#}
    {#</div><!-- /.container-fluid -->#}
{#</nav>#}


<section id="header" class="normal-header dark-color">
    <header class="header">
        <div class="container-fluid">

            <!-- Static navbar -->
            <nav class="navbar navbar-default yamm">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo">
                        <a class="navbar-brand" href="{{ path_for('home') }}"><img src="{{ base_url() }}/images/dlogo.png" alt=""></a>
                    </div>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path_for('home') }}">Home</a></li>
                        {#<li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="active dropdown-toggle">Home <span class="fa fa-angle-down"></span></a>#}
                            {#<ul class="dropdown-menu">#}
                                {#<li>#}
                                    {#<div class="yamm-content">#}
                                        {#<div class="row">#}
                                            {#<div class="col-sm-3 col-sm-6">#}
                                                {#<h4>Multi Page Versions</h4>#}
                                                {#<ul>#}
                                                    {#<li><a href="index-multipage.html">Default Demo</a></li>#}
                                                    {#<li><a href="index-business-1.html">Home Business 01</a></li>#}
                                                    {#<li><a href="index-business-2.html">Home Business 02</a></li>#}
                                                    {#<li><a href="index-business-3.html">Home Business 03</a></li>#}
                                                    {#<li><a href="index-business-4.html">Home Business 04</a></li>#}
                                                    {#<li><a href="index-creative-1.html">Home Creative 01</a></li>#}
                                                    {#<li><a href="index-creative-2.html">Home Creative 02</a></li>#}
                                                    {#<li><a class="active" href="index-portfolio-1.html">Home Portfolio 01</a></li>#}
                                                    {#<li><a href="index-portfolio-2.html">Home Portfolio 02</a></li>#}
                                                    {#<li><a href="index-photography-1.html">Home Photography 01</a></li>#}
                                                    {#<li><a href="index-photography-2.html">Home Photography 02</a></li>#}
                                                {#</ul>#}
                                            {#</div><!-- end col -->#}
                                            {#<div class="col-sm-3 col-sm-6">#}
                                                {#<h4>&nbsp;</h4>#}
                                                {#<ul>#}
                                                    {#<li><a href="index-freelancer-1.html">Home Freelancer 01</a></li>#}
                                                    {#<li><a href="index-freelancer-2.html">Home Freelancer 02</a></li>#}
                                                    {#<li><a href="index-parallax.html">Home Parallax</a></li>#}
                                                    {#<li><a href="index-ecommerce-1.html">Home Ecommerce 01</a></li>#}
                                                    {#<li><a href="index-ecommerce-2.html">Home Ecommerce 02</a></li>#}
                                                    {#<li><a href="index-landing-page-1.html">Home Landing Page 01</a></li>#}
                                                    {#<li><a href="index-landing-page-2.html">Home Landing Page 02</a></li>#}
                                                    {#<li><a href="index-blog.html">Home Blog 01</a></li>#}
                                                    {#<li><a href="index-blog-2.html">Home Blog 02</a></li>#}
                                                    {#<li><a href="index-coming-soon-1.html">Coming Soon 01</a></li>#}
                                                    {#<li><a href="index-coming-soon-2.html">Coming Soon 02</a></li>#}
                                                {#</ul>#}
                                            {#</div><!-- end col -->#}
                                            {#<div class="col-sm-3 col-sm-6">#}
                                                {#<h4>OnePage Versions</h4>#}
                                                {#<ul>#}
                                                    {#<li><a href="index.html">Default Demo</a></li>#}
                                                    {#<li><a href="index-parallax-1.html">Parallax Image 01</a></li>#}
                                                    {#<li><a href="index-parallax-2.html">Parallax Image 02</a></li>#}
                                                    {#<li><a href="index-fullscreen-video.html">Fullscreen Video</a></li>#}
                                                    {#<li><a href="index-html-video-slider.html">HTML5 Video Slider</a></li>#}
                                                    {#<li><a href="index-revolution-1.html">Slider Revolution 01</a></li>#}
                                                    {#<li><a href="index-revolution-2.html">Slider Revolution 02</a></li>#}
                                                    {#<li><a href="index-vertical-1.html">Vertical Slider 01</a></li>#}
                                                    {#<li><a href="index-vertical-2.html">Vertical Slider 02</a></li>#}
                                                    {#<li><a href="index-kenburns-slider.html">Ken Burns Slider</a></li>#}
                                                    {#<li><a href="index-fullscreen-layer-slider.html">Fullscreen Layer Slider</a></li>#}
                                                {#</ul>#}
                                            {#</div><!-- end col -->#}
                                            {#<div class="col-sm-3 col-sm-6">#}
                                                {#<h4>&nbsp;</h4>#}
                                                {#<ul>#}
                                                    {#<li><a href="index-slider-zoom-effect.html">Slider Zoom Effect</a></li>#}
                                                    {#<li><a href="index-deep-linking-slider.html">Deep Linking Slider</a></li>#}
                                                    {#<li><a href="index-fullscreen-superslider.html">Fullscreen SuperSlider</a></li>#}
                                                    {#<li><a href="index-parallax-video.html">Parallax Video</a></li>#}
                                                    {#<li><a href="index-image-background.html">Image Background</a></li>#}
                                                    {#<li><a href="index-animated-background.html">Animated Background</a></li>#}
                                                    {#<li><a href="index-raindrop-effect.html">Rain Drop Effect</a></li>#}
                                                    {#<li><a href="index-text-rotator.html">Text Rotator</a></li>#}
                                                    {#<li><a href="index-lightbox-video.html">Lightbox Video</a></li>#}
                                                    {#<li><a href="landing.html">All Example Demos</a></li>#}
                                                    {#<li><a href="landing.html"><em>& More on Next Updates</em></a></li>#}
                                                {#</ul>#}
                                            {#</div><!-- end col -->#}
                                        {#</div><!-- end row -->#}
                                    {#</div><!-- end yamm-content -->#}
                                {#</li>#}
                            {#</ul>#}
                        {#</li>#}
                        <li class="dropdown yamm-half"><a href="#" data-toggle="dropdown" class="active dropdown-toggle">Categories <span class="fa fa-angle-down"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="yamm-content">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-6">
                                                <ul>
                                                    {% for category in categoryList.categories|slice(1, 13) %}
                                                        <li><a href="{{ category.id }}">{{ category.category_name }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </div><!-- end col -->
                                            <div class="col-sm-6 col-sm-6">
                                                <ul>
                                                    {% for category in categoryList.categories|slice(14, 25) %}
                                                        <li><a href="{{ category.id }}">{{ category.category_name }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </div><!-- end col -->
                                        </div><!-- end row -->
                                    </div><!-- end yamm-content -->
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown yamm-half"><a href="#" data-toggle="dropdown" class="active dropdown-toggle">Elements <span class="fa fa-angle-down"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="yamm-content">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-6">
                                                <ul>
                                                    <li><a href="elements-accordions.html">Accordions</a></li>
                                                    <li><a href="elements-tabs.html">Tab Elements</a></li>
                                                    <li><a href="elements-progress.html">Progress Bar</a></li>
                                                    <li><a href="elements-buttons.html">Buttons</a></li>
                                                    <li><a href="elements-features-box.html">Features Box</a></li>
                                                    <li><a href="elements-form-fields.html">Form Fields</a></li>
                                                    <li><a href="elements-carousel.html">Carousel Elements</a></li>
                                                    <li><a href="elements-et-lines.html">Icons ET-line</a></li>
                                                    <li><a href="elements-font-awesome.html">Icons Font Awesome</a></li>
                                                </ul>
                                            </div><!-- end col -->
                                            <div class="col-sm-6 col-sm-6">
                                                <ul>
                                                    <li><a href="elements-videos.html">Video & Sounds</a></li>
                                                    <li><a href="elements-pricing.html">Pricing Tables</a></li>
                                                    <li><a href="elements-light-dark.html">Light Dark Version</a></li>
                                                    <li><a href="elements-header-1.html">Header Style 01</a></li>
                                                    <li><a href="elements-header-2.html">Header Style 02</a></li>
                                                    <li><a href="elements-header-3.html">Transparent Header</a></li>
                                                    <li><a href="elements-footer-1.html">Footer Style 01</a></li>
                                                    <li><a href="elements-footer-2.html">Footer Style 02</a></li>
                                                    <li><a href="elements-typography.html">Typography</a></li>
                                                </ul>
                                            </div><!-- end col -->
                                        </div><!-- end row -->
                                    </div><!-- end yamm-content -->
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown yamm-half"><a href="#" data-toggle="dropdown" class="active dropdown-toggle">Portfolio <span class="fa fa-angle-down"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="yamm-content">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-6">
                                                <ul>
                                                    <li><a href="portfolio-masonry-1.html">Masonry Style 01</a></li>
                                                    <li><a href="portfolio-masonry-2.html">Masonry Style 02</a></li>
                                                    <li><a href="portfolio-masonry-3.html"> Masonry Style 03</a></li>
                                                    <li><a href="portfolio-masonry-4.html"> Masonry Style 04</a></li>
                                                    <li><a href="portfolio-classic-1.html">Classic 01 Columns</a></li>
                                                    <li><a href="portfolio-classic-2.html">Classic 02 Columns</a></li>
                                                    <li><a href="portfolio-classic-3.html">Classic 03 Columns</a></li>
                                                    <li><a href="portfolio-classic-4.html">Classic 04 Columns</a></li>
                                                    <li><a href="portfolio-boxed-1.html">Boxed Gallery 02 Columns</a></li>
                                                    <li><a href="portfolio-boxed-2.html">Boxed Gallery 03 Columns</a></li>
                                                    <li><a href="portfolio-boxed-3.html">Boxed Gallery 04 Columns</a></li>
                                                    <li><a href="portfolio-fullwidth-1.html">Fullwidth Gallery 02</a></li>
                                                    <li><a href="portfolio-fullwidth-2.html">Fullwidth Gallery 03</a></li>
                                                </ul>
                                            </div><!-- end col -->
                                            <div class="col-sm-6 col-sm-6">
                                                <ul>
                                                    <li><a href="portfolio-fullwidth-3.html">Fullwidth Gallery 04</a></li>
                                                    <li><a href="portfolio-with-desc-1.html">With Description 01</a></li>
                                                    <li><a href="portfolio-with-desc-2.html">With Description 02</a></li>
                                                    <li><a href="portfolio-with-desc-3.html">With Description 03</a></li>
                                                    <li><a href="portfolio-with-pagination.html">With Pagination</a></li>
                                                    <li><a href="portfolio-single-image.html">Single Image Style</a></li>
                                                    <li><a href="portfolio-single-gallery.html">Single Gallery Style</a></li>
                                                    <li><a href="portfolio-single-audio.html">Single Audio Style</a></li>
                                                    <li><a href="portfolio-single-video.html">Single Video Style</a></li>
                                                    <li><a href="portfolio-single-01.html">Single Project 01</a></li>
                                                    <li><a href="portfolio-single-02.html">Single Project 02</a></li>
                                                    <li><a href="portfolio-single-03.html">Single Project 03</a></li>

                                                    <li><a href="landing.html"><em>& More on Next Updates</em></a></li>
                                                </ul>
                                            </div><!-- end col -->
                                        </div><!-- end row -->
                                    </div><!-- end yamm-content -->
                                </li>
                            </ul>
                        </li>
                        {% if auth.check %}
                            <li><a href="{{ path_for('image.upload') }}">Upload</a></li>
                            <li class="dropdown yamm-drop"><a href="#" data-toggle="dropdown" class="active dropdown-toggle">{{ auth.user.name }} <span class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <div class="yamm-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <ul>
                                                        <li><a href="{{ path_for('auth.password.change') }}">Change Password</a></li>
                                                        <li><a href="{{ path_for('auth.signout') }}">Log Out</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul><!-- end dropdown-menu -->
                            </li><!-- end standard drop down -->
                        {% else %}
                            <li class="dropdown yamm-drop">
                                <a href="#" data-toggle="dropdown" class="active dropdown-toggle">
                                    Account Credential
                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <div class="yamm-content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <ul>
                                                        <li><a href="{{ path_for('auth.signin') }}">Sign In</a></li>
                                                        <li><a href="{{ path_for('auth.signup') }}">Sign Up</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul><!-- end dropdown-menu -->
                            </li><!-- end standard drop down -->
                        {% endif %}

                        <li>
                            <div class="social">
                                <a href="#"><i class="icon icon-facebook"></i></a>
                                <a href="#"><i class="icon icon-twitter"></i></a>
                            </div><!-- end social -->
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </nav>
        </div>
    </header><!-- /header -->
</section>
